<% @user.each do |user| %>
  <div>
        <div>
        <img src="<%= user.photo %>" class="rounded float-start rounded border img-thumbnail" width = "150px"  alt="User image">
     </div>
      <div >
          <%=  link_to user_path(user.id) do %> 
              <%= user.name %> 
          <% end %> 
          <p>Number of posts <%= user.posts_counter %> </p>
      </div>
  </div>

<%end%>
 