<div class="w-full">
    <div class="mb-5">
        <%= render partial: "partials/userCard", locals: { user: @user } %>
    </div>
    <div class="w-full flex justify-end ">
        <button type="button" class="border-2 text medium py-2 px-4">
            <%= link_to "Add Post", new_user_post_path %>
        </button>
    </div>
    <div>
        <ul>
        <% if can? %>
            <% @user_posts.each_with_index do |post,index| %>
                <li class="my-5">
                    <%= render partial: "partials/postCard", locals:{ post: post, index:index } %>
                    <%= render partial: "partials/commentCard", locals:{ comments: post.comments } %>
                </li>
            <% end %>
            <%end%>
        </ul>
    </div>
    <div class="flex justify-center">
        <button class=" border-2 px-4 ">
            Pagination
        </button>
    </div>
</div>